persistent_profile/
instagram_results.xlsx


# Logs
logs/
*.log
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build output
dist/
build/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db

# Python specific
__pycache__/
__pycache__
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python

# Virtual environments
venv/
ENV/
env/
.venv/
*.env

